body {
  text-align: center;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
  display: none;
  font-style: italic;
}

.flashcard {
    height: 275px;
    width: auto;
    margin: 15px;
    border-radius: 10px;
    border: solid 3px #0e1f3a;
    padding-top: 80px;
    background-color: #bbceed;
    white-space: normal;
    word-wrap: break-word;
}
