body {
  text-align: center;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
  font-style: italic;
}

.word {
    height: 275px;
    width: auto;
    margin: 15px;
    border-radius: 10px;
    border: solid 3px #0e1f3a;
    padding-top: 80px;
    background-color: #bbceed;
    white-space: normal;
    word-wrap: break-word;
}

.definition {
    padding: 15px;
    display: none;
    height: 275px;
    width: auto;
    margin: 15px;
    border-radius: 10px;
    border: solid 3px #0e1f3a;
    padding-top: 80px;
    background-color: #def7cd;
    white-space: normal;
    word-wrap: break-word;
}

.flashcard {
  cursor: pointer;

}

.word:hover {
  border: solid 3px yellow;
}
